{#
 # Layout template
 # ---------------
 # When you want make your own or more
 #}

{# Include Macros for your #}
{% import '_macros/my-macro.html' as myMacro %}

<!DOCTYPE html>
<html lang="{{ craft.config.currentLanguage[craft.locale] }}">

{# Include the Document Header #}
{% include '_parts/document-header.html' %}


<body>
    <header id="header" class="u-pv-x7">
        <div class="o-container o-container--size-small">
            <div class="o-media o-media--middle o-media--res">
                <div class="o-media__fixed u-text-center u-text-left@sm">
                    <h1 class="o-type-48">
                        <a href="{{ siteUrl }}" class="c-link">{{ siteName }}
                        <span class="o-type-28 u-block u-lowercase u-weight-normal u-mt-x2">graphic. design. art.</span>
                        </a>
                    </h1>
                </div>
                <div class="o-media__fluid u-text-center u-text-right@sm u-mt-x7 u-mt-x0@sm">
                    <nav>
                        <ul class="o-list o-list--inline o-list--gutter-x4 u-uppercase">
                            <li class="o-list__item">
                                <a  href="{{ url('work') }}"
                                    class="c-link{% if craft.request.firstSegment == 'work' %} active{% endif %}">
                                    Work
                                </a>
                            </li>
                            <li class="o-list__item">
                                <a  href="{{ url('about') }}"
                                    class="c-link{% if craft.request.firstSegment == 'about' %} active{% endif %}">
                                    About
                                </a>
                            </li>
                            <li class="o-list__item">
                                <a  href="{{ url('contact') }}"
                                    class="c-link{% if craft.request.firstSegment == 'contact' %} active{% endif %}">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main id="content" role="main" class="u-vp-x7">
        <div class="o-container o-container--size-small">
        {% block content %}
            <p>If you see me, you haven’t set your
                <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
            <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template
                    Inheritance</a> documentation for an explanation.</p>
        {% endblock %}
        </div>
    </main>

    <footer id="footer">
        <div class="o-container o-container--size-small u-mv-x7">
            <div class="u-text-center o-type-11 ">
                <p>© {{ now.year }} - Anna Lafae</p>
            </div>
        </div>
    </footer>


{# Adding the Document Footer #}
{% include '_parts/document-footer.html' %}
</body>
</html>
