<div style="display:inline-block; overflow:hidden; padding:0; background:{{ background|default('slategray')}}; width:{{width|default('100%')}}; height: {{height|default('auto')}}; position:relative; text-align:center">
	<svg 
		
		style="height:{{height|default('auto')}}" 

		version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 1280 800" enable-background="new 0 0 1280 800" xml:space="preserve">
		<g>
			<path fill="none" stroke="#223342" stroke-width="5.6693" stroke-miterlimit="10" d="M576.2,396.2L526.5,446v39.5
				c0,5.3,4.3,9.5,9.5,9.5h33.5l52.8-52.8L576.2,396.2z"/>
			<path fill="none" stroke="#223342" stroke-width="5.6693" stroke-miterlimit="10" d="M683.5,381 M576.2,396.2l0.2-0.2L576.2,396.2
				l46,46l61.2-61.2 M683.5,381l68.5,68.5V315c0-5.3-4.3-9.5-9.5-9.5H536c-5.3,0-9.5,4.3-9.5,9.5v131l49.8-49.8 M618.5,336
				c11.9,0,21.5,9.6,21.5,21.5s-9.6,21.5-21.5,21.5s-21.5-9.6-21.5-21.5S606.6,336,618.5,336z"/>
			<path fill="none" stroke="#223342" stroke-width="5.6693" stroke-miterlimit="10" d="M622.2,442.2L569.5,495h173
				c5.3,0,9.5-4.3,9.5-9.5v-36L683.5,381L622.2,442.2"/>
			<circle fill="none" stroke="#223342" stroke-width="5.6693" stroke-miterlimit="10" cx="618.5" cy="357.5" r="21.5"/>
		</g>
	</svg>
</div>
