{#
 # Paintings index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/Paintings is
 # requested, because it is located at Paintings/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout/main-layout.html" %}
{% set title = "Paintings" %}

{% block content %}
	<h1>Paintings</h1>

	{% for entry in craft.entries.section('Paintings').find() %}
		<article>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
			{{ entry.body.getPage(1) }}
			<p><a href="{{ entry.url }}">Continue reading</a></p>

			{% set myAsset = entry.images.first() %}
			{% if myAsset %}
				{{ myAsset.url }}
			{% endif %}

			{% for image in craft.assets.kind('image') %}
				ösdlkfj
    <li><img src="{{ image.getUrl('thumb') }}" alt="{{ image.title }}"></li>
{% endfor %}

		</article>
	{% endfor %}
{% endblock %}